#whole{
	background-color:#D8D8D8;
	border:2px outset #F0F0F0;
	width:100%;
}
#home{
text-align:center;
}
p{
  font-family:verdana;
  line-height:30px;
  margin:5px;
}
.row div{
  display:inline-block;
}
.first_element div {
     display:inline-block;
}
.element{
height:350px;
width:30%;
background-color:#B8B8B8 ;
border:3px solid #A8A8A8;
border-radius:10px;
}
.element_head,.element_desc{
 float:left;
}
.add_to_library{
background-color:#00CCFF;
height:32px;
width:auto;
float:right;
border:5px ridge #0066FF;
border-radius:10px; 
}
.add_to_library p{
   float:left;
   color:#0000FF;
   font-family:verdana;
   font-size:32px;
  padding-top:0px;
  margin:2px;
  line-height:75%;
  
 }

img{
  border-radius:10px;
}